body {
    font-family:'Cambria';
    font-size: 12pt;
    background-color: #e1c699;
    text-align:center;
    padding: 10px;
    margin: 0;
}

h1{
    font-size: 22pt;
    color: #B22222;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

h2{
    font-size: 16pt;
    color: #B22222;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}

table{
    text-align: left;
    table-layout: inherit;
}

.table_section {
	font-size:12 pt;
    padding: 15px;
    margin-bottom: 10px;	
}
