<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Rofi</title>
<link rel="stylesheet" type="text/css" href="{% static 'articles/cssfile.css' %}">
</head>
<body>


<h1><span>Abdurrafi Arief</span></h1>
<img src="{% static 'articles/myfoto.jpg' %}" width="200" height="300" alt="A picture of me">
<p>A webpage about me.</p>

<h2>About Me</h2>
<p>Hello, my name is Abdurrafi Arief also known as Rofi. I am 19 years old and a university student in the wonderful campus called University of Indonesia. I major in Computer Science and am currently learning how to design a website. I hope after this semester I can master this knowledge and apply it in real life.</p>

<div class="table_section">
<h2>Biodata</h2>
<table align="center">
	<tr>
    	<td>Name:</td>
        <td>Abdurrafi Arief</td>
    </tr>
    <tr>
    	<td>NPM:</td>
        <td>1806205773</td>
    </tr>
    <tr>
    	<td>Hobby:</td>
        <td>Reading and sleeping</td>
    </tr>
    <tr>
    	<td>Campus:</td>
        <td>University of Indonesia</td>
     </tr>
</table>
</div>

<h2>Contact Me</h2>
<p>Line id: muslimguy</p>


</body>
</html>